{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Login #7</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Create an account</h3>
              <p class="mb-4">Start meeting new people in your area! If you don't have an account, please sign up</p>
            </div>
            <form action="#" method="POST">
              {% csrf_token %}
              <div class="form-group first">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" Required oninput="capitalizeFirstLetter()">
              </div>
              <div class="form-group first">
                <label for="email">Email</label>
                <input type="text" class="form-control"  name="email" id="email" Required>
              </div>
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <div class="form-group last mb-4">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" id="confirm_password" required>
                <small id="password_match_msg" style="color:red;"></small>
            </div>
              

              
              
              <input type="submit" value="Sign up" class="btn btn-block btn-custom">
              {% comment %} <button href={% static 'tellus1.html' %} type="submit" value="Submit"></button> {% endcomment %}
              <button href={% static 'tellus1.html' %} type="submit" value="Submit"></button>
            </input>
              <div class="d-flex mb-5 align-items-center">
                <!--

                -->
                <span class="ml-auto"><a href="{% url 'user_login' %}" class="forgot-pass">Sign in</a></span> 
              </div>
              <!--
              -->
            </form>
            </div>
          </div>
          
        </div>
        <div class="col-md-6">
          <img src="{% static 'images/bg_123.jpg' %}" alt="Image" class="img-fluid">
        </div>
        
      </div>
    </div>
  </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>

{% comment %} Making the name caps {% endcomment %}
<script>
  function capitalizeFirstLetter() {
      var input = document.getElementById('name');
      var inputValue = input.value;
      if (inputValue.length > 0) {
          input.value = inputValue.charAt(0).toUpperCase() + inputValue.slice(1);
      }
  }
  </script>

  {% comment %} Password matching  {% endcomment %}
  <script>
    const passwordInput = document.getElementById('password');
    const confirmPassInput = document.getElementById('confirm_password');
    const passwordMatchMsg = document.getElementById('password_match_msg');

    confirmPassInput.addEventListener('keyup', function() {
        if (passwordInput.value !== confirmPassInput.value) {
            passwordMatchMsg.textContent = 'Passwords do not match';
        } else {
            passwordMatchMsg.textContent = '';
        }
    });
</script>
  